html {
  box-sizing: border-box;
  font-size: 10px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  height: 200vh;
  background-color: #d1e3ff;
}

#start-page {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#wrapper {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#game {
  display: grid;
  grid-template-columns: repeat(4, 15rem);
  grid-template-rows: repeat(4, 20rem);
  grid-gap: 1.7rem;
  perspective: 100rem;
}

.card {
  position: relative;
  width: 15rem;
  height: 20rem;
  box-shadow: 0 0.2rem 0.6rem rgba(0, 0, 0, 0.3);
  transform-style: preserve-3d;
  transition: all 1.2s cubic-bezier(.44, .28, .6, 1.43);
}

.card,
.faceOfCard,
.backOfCard {
  border-radius: 0.6rem;
}

.faceOfCard,
.backOfCard {
  position: absolute;
  pointer-events: none;
}

.faceOfCard {
  width: 15rem;
  height: 20rem;
}

.backOfCard {
  width: 15rem;
  height: 20rem;
  backface-visibility: hidden;
}

.flipCard {
  transform: rotateY(0.5turn);
}

.unclickable {
  pointer-events: none;
}